name: Run Selenium On GitHub Action
on:
  repository_dispatch:
    types: start-manually
  push:
  schedule:
    - cron: '30 22,4 * * *'
jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Checking out repo
        uses: actions/checkout@v4
      - name: Setting up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11.6'
      - name: Installing package list
        run: apt list --installed    
      - name: Removing previous chrome instances on runner 
        run: sudo apt purge google-chrome-stable  
        
       # Need to fetch reqs if needed
      - name: Installing all necessary packages
        run: pip install -r requirment.txt
      - name: Install xvfb
        run: |
          wget -q -O /tmp/chrome.deb https://dl.google.com/linux/deb/pool/main/g/google-chrome-stable/google-chrome-stable_143.0.7499.40-1_amd64.deb && \
          sudo apt install -y /tmp/chrome.deb
          sudo apt-get install -y xvfb


      - name: Running the Python scraper
        run: python Selenium-Template.py
      - name: Running the PythonUpdater
        run: python priceEstimator.py

      - uses: EndBug/add-and-commit@v9 # You can change this to use a specific version.
        with:
          # The arguments for the `git add` command (see the paragraph below for more info)
          # Default: '.'
          add: '.'
          # The name of the user that will be displayed as the author of the commit.
          # Default: depends on the default_author input
          author_name: Mirzaei81

          # The email of the user that will be displayed as the author of the commit.
          # Default: depends on the default_author input
          author_email: mirzaei81@users.noreply.github.com

          # The local path to the directory where your repository is located. You should use actions/checkout first to set it up.
          # Default: '.'
          cwd: '.'

          # Determines the way the action fills missing author name and email. Three options are available:
          # - github_actor -> UserName <UserName@users.noreply.github.com>
          # - user_info -> Your Display Name <your-actual@email.com>
          # - github_actions -> github-actions <email associated with the github logo>
          # Default: github_actor
          default_author: github_actor

          # The message for the commit.
          # Default: 'Commit from GitHub Actions (name of the workflow)'
          message: 'Commit from GitHub Actions (Selenium-Action_Template)'


          # The way the action should handle pathspec errors from the add and remove commands. Three options are available:
          # - ignore -> errors will be logged but the step won't fail
          # - exitImmediately -> the action will stop right away, and the step will fail
          # - exitAtEnd -> the action will go on, every pathspec error will be logged at the end, the step will fail.
          # Default: ignore
          pathspec_error_handling: ignore
